absl-py==0.11.0
astor==0.8.1
Flask==1.1.2
gast==0.3.3
grpcio==1.31.0
gunicorn==20.0.4
h5py==2.10.0
itsdangerous==1.1.0
Jinja2==2.11.2
Markdown==3.2.2
MarkupSafe==1.1.1
numpy==1.18.4
pandas==1.0.3
protobuf==3.12.4
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.2
scipy==1.4.1
six==1.15.0
sklearn==0.0
Werkzeug==1.0.1
