absl-py==0.9.0
aiofiles==0.6.0
aiohttp==3.6.3
altair==4.1.0
appdirs==1.4.4
APScheduler==3.6.3
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
backcall==0.1.0
base58==2.0.1
bleach==3.1.5
blinker==1.4
blis==0.4.1
boto3==1.16.16
botocore==1.19.16
branca==0.4.1
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.4.5.1
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.4.1
colorama==0.4.4
colorclass==2.2.0
coloredlogs==14.0
colorhash==1.0.2
confuse==1.1.0
cryptography==3.2.1
cycler==0.10.0
cymem==2.0.3
Cython==0.29.14
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
dm-tree==0.1.5
dnspython==1.16.0
docopt==0.6.2
entrypoints==0.3
fbmessenger==6.0.0
filelock==3.0.12
Flask==1.1.2
folium==0.11.0
future==0.18.2
gast==0.3.3
gensim==3.8.3
gitdb==4.0.5
GitPython==3.1.11
grpcio==1.31.0
gunicorn==20.0.4
h11==0.9.0
h5py==2.10.0
htmlmin==0.1.12
httpcore==0.11.1
httplib2==0.18.1
httptools==0.1.1
httpx==0.15.4
humanfriendly==8.2
idna==2.9
ImageHash==4.1.0
imbalanced-learn==0.7.0
importlib-metadata==2.0.0
ipykernel==5.3.0
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.15.1
jsonpickle==1.4.1
jsonschema==3.2.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mattermostwrapper==2.2
missingno==0.4.2
mistune==0.8.4
multidict==4.7.6
multitasking==0.0.9
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==5.0.6
networkx==2.4
nltk==3.5
notebook==6.0.3
numba==0.49.1
numpy==1.18.4
oauth2client==4.1.3
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.4
pandas==1.0.3
pandas-datareader==0.8.1
pandocfilters==1.4.2
parso==0.7.0
patsy==0.5.1
phik==0.10.0
pickle-mixin==1.0.2
pickleshare==0.7.5
pika==1.1.0
Pillow==7.1.2
plac==1.1.3
ply==3.11
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.12.4
psycopg2-binary==2.8.6
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydeck==0.5.0
pydot==1.4.1
Pygments==2.6.1
PyJWT==1.7.1
pykwalify==1.7.0
pymongo==3.10.1
pyparsing==2.4.7
pyreadline==2.1
pyrsistent==0.16.0
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-engineio==3.13.2
python-socketio==4.6.0
python-telegram-bot==12.8
pytz==2020.1
PyWavelets==1.1.1
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.1
qtconsole==4.7.4
QtPy==1.9.0
questionary==1.5.2
redis==3.5.3
regex==2020.6.8
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
s3transfer==0.3.3
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.10.1
searchgrid==0.2.0
Send2Trash==1.5.0
sentry-sdk==0.19.2
six==1.15.0
sklearn==0.0
sklearn-crfsuite==0.3.6
slackclient==2.9.3
smart-open==3.0.0
smmap==3.0.4
sniffio==1.2.0
spacy==2.3.2
spacy-lookups-data==0.3.2
SQLAlchemy==1.3.20
srsly==1.0.2
statsmodels==0.11.1
streamlit==0.72.0
tabulate==0.8.7
tangled-up-in-unicode==0.0.6
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
thinc==7.4.1
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.0.4
tqdm==4.47.0
traitlets==4.3.3
twilio==6.45.4
typeguard==2.10.0
tzlocal==2.1
ujson==3.2.0
urllib3==1.25.9
validators==0.18.1
visions==0.4.4
wasabi==0.8.0
watchdog==1.0.1
wcwidth==0.1.9
webencodings==0.5.1
webexteamssdk==1.6
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1

